.footer-container {
    padding: 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: small;
    color: #64748b;
    font-family: 'Courier New', Courier, monospace;
}
